{% load static %} 
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/file.css' %}">
    <title>TamilanTamil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static 'css/rain.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
            
    <style>
        body{
            
            background-size: cover;                                                          
            background-attachment:fixed;
        }
    </style>
</head>
<body style="background-color: black;"> 
    {% include 'navigation.html' %}
        
    <div class="rain front-row"></div>
    <div class="rain back-row"></div>
    <div class="toggles"></div>
    <canvas id="canvas"></canvas>

    <div class="title">
        <div style="color: white;font-family: Lucida Calligraphy; font-weight: 1000; ">Tamilan Tamil</div>
        <br />
    </div>
    <script>
        var makeItRain = function() {
            $('.rain').empty();
            var increment = 0;
            var drops = "";
            var backDrops = "";
            while (increment < 100) {
                var randoHundo = (Math.floor(Math.random() * (98 - 1 + 1) + 1));
                var randoFiver = (Math.floor(Math.random() * (5 - 2 + 1) + 2));
                increment += randoFiver;
                drops += '<div class="drop" style="left: ' + increment + '%; bottom: ' + (randoFiver + randoFiver - 1 + 100) + '%; animation-delay: 0.' + randoHundo + 's; animation-duration: 0.5' + randoHundo + 's;"><div class="stem" style="animation-delay: 0.' + randoHundo + 's; animation-duration: 0.5' + randoHundo + 's;"></div><div class="splat" style="animation-delay: 0.' + randoHundo + 's; animation-duration: 0.5' + randoHundo + 's;"></div></div>';
                backDrops += '<div class="drop" style="right: ' + increment + '%; bottom: ' + (randoFiver + randoFiver - 1 + 100) + '%; animation-delay: 0.' + randoHundo + 's; animation-duration: 0.5' + randoHundo + 's;"><div class="stem" style="animation-delay: 0.' + randoHundo + 's; animation-duration: 0.5' + randoHundo + 's;"></div><div class="splat" style="animation-delay: 0.' + randoHundo + 's; animation-duration: 0.5' + randoHundo + 's;"></div></div>';
            }

            $('.rain.front-row').append(drops);
            $('.rain.back-row').append(backDrops);
            }

            $('.splat-toggle.toggle').on('click', function() {
            $('body').toggleClass('splat-toggle');
            $('.splat-toggle.toggle').toggleClass('active');
            makeItRain();
            });

            $('.back-row-toggle.toggle').on('click', function() {
            $('body').toggleClass('back-row-toggle');
            $('.back-row-toggle.toggle').toggleClass('active');
            makeItRain();
            });

            $('.single-toggle.toggle').on('click', function() {
            $('body').toggleClass('single-toggle');
            $('.single-toggle.toggle').toggleClass('active');
            makeItRain();
            });

            makeItRain();
    </script>
</body>
</html>
